<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="bpb.listeners.MyListener2"/>
</listeners>
  <test name="Test">
     	<groups>
    		<run>
    			<include name="GroupA"/>
    		</run>
    	</groups>
 
  	<classes>
  		<class name="bpb.dataprovider.KeywordProvider"/>
  	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
